html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
}

/*body {*/
/*    width: 1300px;*/
/*    margin: 0 auto;*/
/*}*/

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium', sans-serif;
}


#wrap {
    margin: 0 auto;

    min-height: 1000px;
}

/*header, footer{*/
/*    width: 100%;*/
/*    height: 125px;*/
/*    text-align: center;*/
/*    vertical-align: center;*/
/*    display: flex;*/
/*    justify-content: center; !* 세로 중앙 정렬 *!*/
/*    align-items: center; !* 가로 중앙 정렬 *!*/
/*}*/

/*footer {*/
/*    margin-top: 10px;*/
/*}*/

#board_title_area {
    width: 100%;
    height: 125px;
    text-align: center;
    font-weight: bold;
    font-size:25px;
    padding-top: 30px;
    text-align: center;
}

#board_title {
	font-size: 40px;
	margin-bottom: 20px;
	color: #00c88c;
	font-family: 'GmarketSansMedium', sans-serif;
}

#board_semi_title {
	font-size: 18px;
	font-family: 'GmarketSansMedium', sans-serif;
}

#board_list_area {
    width:1100px;
    margin: 30px auto;
}


#board_list_area table {
    display: inline-block;
    width: 1000px;
    margin: 0 auto;
}


#board_list_area table tr td a{
    color: black;
    font-weight: 400;
}
.bold {
    font-weight: bold;
    /*border-bottom: 1px solid black;*/
}
#notsep{
    display: inline-block;
    border-bottom: 2px solid black;
    width: 1150px;
    margin-bottom: 10px;
}

.row, .row_get{
    width: 1150px;
    height: 40px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px #dddddd;
    font-family: 'GmarketSansMedium', sans-serif;
    transition: transform 0.3s ease;
}

.row:hover {
	transform: scale(1.03);
}

#board_list_area table tr th{
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
#board_list_area table tr td{
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

.board_num {
    width: 100px;
    text-align: center;
}
.no_list{
    width: 100%;
    text-align: center;
}

.board_name {
    width: 450px;
    padding-left: 30px;
    cursor: pointer;
}

.board_keyword {
    width: 270px;
    text-align: center;
}
#keyword{
    width: 400px;
}
.board_date {
    width: 150px;
    text-align: center;
}

.board_writer {
    width: 150px;
    text-align: center;
}

#bottom_area {
    width: 1130px;
    height: 40px;
    align-items: center;
    margin: 50px auto 10px;
    text-align: center;
}

.search_area {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
    cursor: pointer;
    background-image: url(../../images/searchLogo.png);
    background-size: cover; /* 배경 이미지를 요소에 맞게 확대/축소 */
    background-repeat: no-repeat; /* 배경 이미지 반복 금지 */
    background-position: center; /* 배경 이미지를 가운데 정렬 */
    transition: transform 0.3s ease;
}

#search-btn:hover {
	transform: scale(1.1);
}

#type, #keyword {
    height: 40px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

#type {
    cursor: pointer;
    width: 230px;
    margin-right: 5px;
}

#keyword {
	width: 500px;
	margin-right: 5px;
}

#write_area{
    width: 1100px;
    margin: 20px auto;
}
#board_write {
	width: 1115px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'GmarketSansMedium', sans-serif;
}

#board_write_name {
    height: 55px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    color: black;
    font-weight: 600;
    font-size: 20px;
    transition: transform 0.3s ease;
}

#board_write_name:hover {
	transform: scale(1.1);
}

#board_write_icon {
    position: absolute;
    width: 30px;
    height: 28px;
    background-image: url(../../images/writeLogo.png);
    background-size: cover; /* 배경 이미지를 요소에 맞게 확대/축소 */
    background-repeat: no-repeat; /* 배경 이미지 반복 금지 */
    background-position: center; /* 배경 이미지를 가운데 정렬 */
    cursor: pointer;
    margin-right: 60px;
    transition: transform 0.3s ease;
}

#board_write_icon:hover {
	transform: scale(1.1);
}

#pagination {
    width: 1200px;
    height: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    font-family: 'GmarketSansMedium', sans-serif;
}

.nowPage, .changePage {
    width: 20px;
    text-align: center; /* 가로 가운데 정렬 */
    vertical-align: middle; /* 세로 가운데 정렬 */
    margin: 0px 1px 0px 1px;
    font-weight: bold;
}

#null_td{
    border: 1px solid red;
    width: 1100px;
}
#num{
    width: 100px;
}
#title{
    width: 450px;
}

#travelPlansDate{
    width: 250px;

}

#toptitle {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	font-family: 'GmarketSansMedium', sans-serif;
}

#created{
    width: 150px;

}

#writer{
    width: 150px;
}

#searchForm {
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'GmarketSansMedium', sans-serif;
}

